.gradle
/.idea
*/.idea/*
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.swp
*.swo
android/local.properties
android/local.properties
android/build/intermediates/dex-cache/cache.xml
android/app/app.iml
android/android.iml
android/app/app.iml
android/android.iml
